<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="defraggler" />
	<package id="javaruntime" />
	<package id="java.jdk" />
	<package id="virtualbox" />
	<package id="vagrant" />
	<package id="Silverlight" />
	<package id="winmerge" />
	<package id="android-sdk" />
	<package id="flashplayerpalugin" />
	<package id="flashplayeractivex" />
	<package id="ccleaner" />
	<package id="FoxitReader" />
	<package id="TortoiseGit.latest" />
	<package id="tortoisesvn" />
	<package id="PDFCreator" />
	<package id="GoogleChrome" />
	<package id="lastpass" />
	<package id="dropbox" />
	<package id="Firefox" />
	<package id="paint.net" />
	<package id="windirstat" />
	<package id="githubforwindows" />
	<package id="launchy" />
</packages>
