<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="mingw" />
	<package id="javaruntime" />
	<package id="genymotion" />
	<package id="AndroidStudio" />
	<package id="android-sdk" />
	<package id="virtualbox" />
	<package id="vagrant" />
	<package id="TortoiseGit.latest" />
	<package id="tortoisesvn" />
	<package id="intellij-idea-community" />
	<package id="SourceTree" />
	<package id="Silverlight" />
	<package id="flashplayerpalugin" />
	<package id="flashplayeractivex" />
	<package id="lastpass" />
	<package id="dropbox" />
	<package id="Firefox" />
	<package id="paint.net" />
	<package id="windirstat" />
	<package id="GoogleChrome" />
	<package id="defraggler" />
	<package id="winmerge" />
	<package id="ccleaner" />
	<package id="FoxitReader" />
	<package id="launchy" />
	<package id="pidgin" />
	<package id="InkScape" />
	<package id="IrfanView" />
	<package id="ConsoleZ" />
	<package id="Explorerplusplus" />
</packages>
